* {
    /* border: 1px solid red; */
     box-sizing: border-box; 
     margin: 0;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    background-color: gray;
}

.spotlight-header{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.station-link{
  margin-bottom: 20px;
}
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* HTML marker styles */
.price-tag {
  background-color: #4285F4;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.price-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285F4;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.weather-widget{
  background-color: #2f3c4e;
  color: #e4ecfd;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.2em;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-stats {
  display: flex;
    justify-content: space-between;
  align-items: center;
}

.weather-stats p{
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background: rgba(299,299,299,0.4);
  justify-content: center;
  align-items: center; 
  margin: 5px;
}

.weather-stats p span{
  margin: 10px;
}

.weather-temp{
  font-size: 2.5em;
}

.weather-widget p{
  font-size: 1em;
  display: flexbox;
}

#weather-icon{
  width: 100px;
  height: 100px;
}

.new-servo-form {
  position: absolute;
  right: 50%;
  top: 50%;
  display: none;
}

.github-img {
  display: block;
  width: 30px;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-wrapper-nearest {
  display: flex;
  gap: 3px;
}

#servo-distance {
  font-weight: bold;
}

#servo-measurement {
  font-weight: bold;
}

#servo-station {
  margin: 0px;
  border-top: 0.5px solid black;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  
}

#servo-station:last-child {
  border-bottom: 0.5px solid black;
}